.article {
  @extend .content-box;

  h2, h3 {
    text-align: center;
  }

  .author {
    text-align: center;

    h4 {
      display: inline;
    }
  }
}

.column .article {
  margin: $medium-spacing 0;
}

.article-link {
  color: $dark-gray;

  .article:hover {
    color: $dark-gray;
    @include box-shadow($dark-blue 2px 2px 4px);
  }
}
