//text sizes
$giant-text: 44px;
$large-text: 28px;
$medium-text: 18px;
$small-text: 14px;
$body-font: 12px;

//spacings
$large-spacing: 16px;
$medium-spacing: 10px;
$small-spacing: 6px;

//colors
$dark-gray: #4A4A4A;
$gray: #8E8E8E;
$light-gray: #DFDFDF;
$white: #FAFAFA;

$dark-blue: #0A0063;
