//text sizes
$giant-text: 44px;
$large-text: 28px;
$medium-text: 18px;
$small-text: 14px;
$body-font: 12px;

//spacings
$large-spacing: 16px;
$medium-spacing: 10px;
$small-spacing: 6px;

//colors
$dark-gray: #272727;
$gray: #515151;
$light-gray: #818181;
$faint-gray: #F0F2F1;
$white: #F9FAFB;

$dark-blue: #0A0063;
