* {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}

body, html {
  background-color: $white;
}

.page {
  @extend .container;
}

.content-box {
  background-color: $faint-gray;
  @include box-shadow($dark-gray 2px 2px 6px);
  padding: $small-spacing;
}

#header {
  @extend .content-box;
  padding: $large-spacing;
  margin-bottom: $medium-spacing;

  img {
    padding: $medium-spacing;
    width: 136px;
  }
}
