* {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}

body, html {
  background-color: $light-gray;
}

.page {
  @extend .container;
}

#header {
  background-color: $white;
  margin-bottom: $medium-spacing;
  @include box-shadow($dark-gray 2px 2px 6px);

  #logo {
    text-align: center;

    img {
      padding: $medium-spacing;
      width: 136px;
    }
  }
}
