* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: $light-gray;
}

.page {
  @extend .container;
}

#header {
  background-color: $white;
  margin-bottom: $medium-spacing;

  #logo {
    text-align: center;

    img {
      padding: $medium-spacing;
      width: 136px;
    }
  }
}
