.span12
  #header
    .row
      #logo.span3
        = link_to image_tag("logo.png"), root_path
      #title.span6
        %h1 The Piper's Page
      #nav.span9.offset3
        = link_to "Home", root_path
        |
        - if current_user
          = link_to "Admin", admin_path
